*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  min-height: 95vh;
  flex-direction: column;
}

ul li {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid #000;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  height: 7vh;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: #c7c7c7 solid 0.09px;
  background: rgba(255, 255, 255, 9);
  opacity: 9 !important;
  z-index: 999;
}

.header-form {
  height: 7vh;
  display: flex;
  margin-bottom: 30px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: #c7c7c7 solid 0.09px;
  background: rgba(255, 255, 255, 9);
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  min-height: 100%;
  margin-top: 60px;
}

.item-list__cont {
  display: flex;
  justify-content: space-evenly;
  border: #000 solid 1px;
  padding: 20px;
  margin: 10px;
  width: 13%;
  height: 120px;
}

.product_form {
  min-width: 250px;
  position: relative;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-select {
  width: 100%;
  height: 40px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background: #fff;
  box-shadow: 0 0 0 1px #000;
  margin-bottom: 10px;
  margin-left: 14px;
}

.delete {
  size: 3px;
  height: 16px;
  display: flex;
}

.button {
  background-color: #707571;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

.input {
  width: 100%;
  height: 40px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
  margin-left: 14px;
}

input:focus {
  outline: none !important;
  border: 1px solid blue;
  box-shadow: 0 0 10px #719ece;
}

.button:hover {
  background-color: #719ece;
}

textarea:focus,
input:focus {
  color: #000;
  border: 1px solid rgb(192, 55, 55);
}

.errors,
.invalid {
  color: red;
  margin-bottom: 6px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: rgb(145, 143, 143) solid 1px;

  width: 100%;
  height: 60px;
  margin-top: auto;
}
